# Patterns 2

In [1]:
n=int(input())
i=1
while n>=i:
    #spaces
    spaces = 1
    while n-i>=spaces:
        print(' ',end='')
        spaces+=1


    #increasing
    stars = 1
    while i>=stars:
        print('*',end='')
        stars+=1


    #decreasing
    p=i-1
    while p>=1:
        
        print('*',end='')
        p=p-1
        
    print()
    i+=1

5
    *
   ***
  *****
 *******
*********

In [3]:
n=int(input())
i=1
while n>=i:
    #spaces
    spaces = 1
    while n-i>=spaces:
        print(' ',end='')
        spaces+=1


    #increasing
    stars = 1
    while i>=stars:
        print(i+stars-1,end='')
        stars+=1


    #decreasing
    p=i-1
    while p>=1:
        
        print(p+stars-2,end='')
        p=p-1
            
    print()
    i+=1

5
    1
   232
  34543
 4567654
567898765

In [4]:
n=int(input())
i=1
n1 = (n+1)/2
j=1
n2=n1-1


while n1>=i:
   
    spaces = 1
    while n1-i>=spaces:
       
        print(' ',end='')
        spaces+=1

    stars = 1
    while stars<=2*i-1:
        print('*',end='')
        stars+=1

    print() 
    i+=1


while n2>=j:
    spaces2 = 1
    while spaces2<=j:
        print(' ',end='')
        spaces2+=1


    stars2 = 1
    while n-2*j>=stars2:
        print('*',end='')
        stars2+=1

    print()
    j+=1

5
  *
 ***
*****
 ***
  *

In [5]:
n=int(input())
i=1
while n>=i:
    j=1
    while i>=j:
        print(j,end='')
        j+=1

    #SPACES
    k=1    
    while (2*n)-(2*i)>=k:
        print(' ',end='')
        k+=1

    #Numbers again
    t=1
    while i>=t:
        print(i-t+1,end='')
        t+=1

    print()
    i+=1

7
1            1
12          21
123        321
1234      4321
12345    54321
123456  654321
12345677654321

In [6]:
lines=int(input())  
i=1  
j=1  
while i<=lines:  
    j=1  
    while j<=lines:       
        if i==j:  
            print("*", end='')  
        else :  
            print("0", end='')  
        j=j+1  
    j=j-1
    print("*", end='')  
    while j>=1:   
        if i==j:  
            print("*", end='')  
        else :  
            print("0", end='')  
        j=j-1  
    print()  
    i=i+1

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

In [7]:
n=int(input())
i=1
while n>=i:
    #spaces
    spaces = 1
    while n-i>=spaces:
        print(' ',end='')
        spaces+=1


    #increasing
    stars = 1
    while i>=stars:
        print(i-stars+1,end='')
        stars+=1


    #decreasing
    p=1
    while i-1>=p:
        
        print(p+1,end='')
        p=p+1
        
    print()
    i+=1

5
    1
   212
  32123
 4321234
543212345

In [9]:
n=int(input())
i=1
n1 = (n+1)/2
j=1
n2=n1-1

while n1>=i:
   
    spaces = 1
    while i-1>=spaces:
       
        print(' ',end='')
        spaces+=1

    stars = 1
    while stars<=i:
        print('* ',end='')
        stars+=1

    print() 
    i+=1



while n2>=j:
    spaces2 = 1
    while spaces2<=n2-j:
        print(' ',end='')
        spaces2+=1


    stars2 = 1
    while n1-j>=stars2:
        print('* ',end='')
        stars2+=1

    print()
    j+=1

11
*
 * *
  * * *
   * * * *
    * * * * *
     * * * * * *
    * * * * *
   * * * *
  * * *
 * *
*

In [10]:
n=int(input())
for i in range (1,n+1):
    for j in range(n,i-1,-1):
        if i%2==0:
            print('0',end='')

        else:
            print('1',end='')

    print()
    i+=1

6
111111
00000
1111
000
11
0

In [11]:
n=int(input())
n1=n
n2=n1-1
for i in range (1,n1+1):
    for s in range(1,i):
        print(' ',end='')

    for j in range (1,n1-i+2):
        print(i+j-1,end='')

    print()    

for t in range (1,n2+1):
    for  spaces in range (1,n2-t+1):
        print (' ',end='')

    for k in range (1,t+2):
        print(n-t+k-1,end='')
        
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [12]:
n=int(input())

for i in range (n,0,-1):
    for j in range (n,i,-1):
        print(j,end="")
    for k in range (1,i*2,1):
        print(i,end="")
    for l in range (i+1,n+1,1):
        print(l,end="")
    print()

  
for m in range (1,n,1):
    for o in range (n,m,-1):
        print(o,end="")
    for p in range (1,m*2,1):
        print(m+1,end="")
    for q in range (m+1,n+1,1):
        print(q,end="")
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [13]:
n=int(input())
o=n
import math
n1=math.ceil(n/2)
n2=n-n1
i=1
t=1
while n1>=i:
    j=1
    while n>=j:
        print(t,' ',end='')
        t=t+1
        j+=1
    print() 
    t+=n    
    i+=1

while n2>=1:
    if n%2!=0:
        k=n*(o-2)
    else:
        k=n*(o-1)
    
    p=1
    while n>=p:
        print (k+p,' ',end='')
        p+=1

    o=o-2
    n2=n2-1
    print()

5
1  2  3  4  5
11  12  13  14  15
21  22  23  24  25
16  17  18  19  20
6  7  8  9  10